{{ define "main" }}
{{ $p := .Params }}
<div class="grid lg:grid-cols-2 gap-4">
	<div class="not-prose flex cursor-default flex-col space-y-4 rounded-lg border border-white p-4">
		<div style="position: relative; display: inline-block;">
			<img src="{{ or $p.portraitImage "/portrait.png" }}" alt="Portrait" style="width: 423px; height: 192px; display: block;">
			<div class="typewriter-container">
				<div class="typewriter-cycle">
					<span>I much prefer BevOps</span>
					<span>Is it winter yet...?</span>
					<span>I cannot fix your iPhone.</span>
					<span>Brb, performing server necromancy</span>
					<span>Ph'nglui mglw'nafh Cthulhu R'lyeh wgah'nagl fhtagn</span>
					<span>Light inside is broken, but I still work</span>
					<span>grep -r 'caffeine'</span>
					<span>There is no cloud, just computers</span>
					<span>He's a pipeline wizard, there has to be a twist</span>
					<span>Pocket sand!</span>
					<span>git commit -m "fixed stuff"</span>
					<span>Josh hurt itself in it's confusion...</span>
					<span>I pronounce API as 'apee' to annoy people</span>
					<span>Bring back forums</span>
					<span>Hello, World!</span>
					<span>Try Minecraft!</span>
					<span>Who Framed Roger Rabbit?</span>
					<span>I'm just waiting for a deployment pipeline</span>
					<span>Send me cursed knowledge!</span>
				</div>
			</div>
		</div>
		<div>
			{{ with $p.introTitle }}<strong>{{ . }}</strong>{{ end }}
			{{ with $p.introBody }}{{ . | markdownify }}{{ end }}
		</div>
	</div>
	<div class="grid lg:grid-rows-2 gap-4">
		<div class="not-prose flex cursor-default flex-col space-y-2 rounded-lg border border-white p-6">
			<img src="{{ or $p.statusImage "/status.png" }}" alt="Status" class="self-start">
			{{ with $p.statusText }}<div>{{ . | markdownify }}</div>{{ end }}
		</div>
		<div class="not-prose flex cursor-default flex-col space-y-2 rounded-lg border border-white p-6">
			<img src="{{ or $p.watchingImage "/watching.png" }}" alt="Watching" class="self-start">
			{{ if or $p.watchingUrl $p.watchingText }}
				<p class="underline">
					{{ if $p.watchingUrl }}<a href="{{ $p.watchingUrl }}">{{ end }}
					{{ or $p.watchingText "" }}
					{{ if $p.watchingUrl }}</a>{{ end }}
				</p>
			{{ end }}
		</div>
	</div>
</div>
{{ .Content }}
{{ end }}
